.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: red; 
    color: white;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 50px; 
    width: auto;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar-menu li a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
}
